.layout-app{
    display: flex;
    .component{
        width: calc(100vw - 120px);
        max-width: calc(100vw - 120px);
        overflow: hidden;
    }
}
.layout-user-app{
    .component{
        margin-top: 95px;
    }
}