
    li{
        color: white;
        a{
        text-decoration: none;
        color: white;
            &:hover{
                text-decoration: none;
                color: cornflowerblue;
            }
        } 
    }
